{{define "content"}}
<div class="confirm">
	<div class="card">
		<div class="icon">{{template "icon-alert" .}}</div>
		<h1>{{.Confirm.Title}}</h1>
		<p>{{.Confirm.Body}}</p>
		<form method="post" action="{{.Confirm.Action}}">
			<input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
			<div class="actions-bar flush">
				<button type="submit" class="solid-danger">{{.Confirm.Verb}}</button>
				<a class="button" href="{{.Confirm.Cancel}}">Cancel</a>
			</div>
		</form>
	</div>
</div>
{{end}}
